<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MangaDex Viewer</title>
	<link rel="stylesheet" href="css/main.css"/>
	<link rel="stylesheet" href="css/app.css">
	<script src="js/app.js"></script>
</head>
<body class="bg-gray-800">
	<div class="container mx-auto">
		<div class="w-full min-h-screen flex flex-col items-center justify-center">
			<h1 class="text-4xl w-full text-center block text-gray-300 text-sm font-bold mb-8">MangaDex Viewer</h1>
			<div class="flex flex-col items-center justify-center w-full">
				<form class="w-3/4 py-16 md:px-16 flex flex-row" action="search" method="GET">
					<input name="title" placeholder="Search for manga" class="bg-gray-200 shadow appearance-none border rounded-l w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-lg text-white placeholder-gray-500" />
					<button class="bg-orange-400 hover:bg-orange-500 text-gray-100 font-bold py-2 rounded-r px-8">Go</button>
				</form>
			</div>
		</div>
	</div>
	<div class="absolute top-4 w-full text-center text-gray-300 text-md">
		This site is not officially affiliated with MangaDex
	</div>
</body>
</html>
